In [7]:
"""
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
"""
list_cont=["Anupam",[1,2,"anupam"],9.5,(1.2,3.5)]
for i in list_cont:
  print(type(i))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Answer:
(i) var1 = String
(ii) var2 = String
(iii) var3 = Syntax Error
(iv) var4 = int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Answer:
(i) / -> Division Operator: It is used for arithmetic calculation to get the value of quotient
ex:-> 10/3 = 3.3333
(ii) %-> Modulus Operator: It is used for arithmetic calculation to get the value of remainder
ex:-> 10/3 = 1
(iii) //->It is used to get the floor value
ex:-> 10/3 = 3
(iv) **->It is used for exponentiation
ex:-> 10**3 = 1000

In [14]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
"""
#Answer:
list_cont=[1,23,3.3,"Anupam",(1,2,3),["kumar",2.3],34,2.33,True,False]
for i in list_cont:
  print(i)
  print(type(i))

1
<class 'int'>
23
<class 'int'>
3.3
<class 'float'>
Anupam
<class 'str'>
(1, 2, 3)
<class 'tuple'>
['kumar', 2.3]
<class 'list'>
34
<class 'int'>
2.33
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

In [23]:
"""
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
"""
#Answer:
A=int(input("Enter the value of A"))
B=int(input("Enter the value of B"))
if B == 0:
  print("Division by 0 is not allowed")
else:
  i = 0
  while(A % B==0):
    A =A // B
    i = i + 1
  print(i)

Enter the value of A64
Enter the value of B2
6

In [30]:
"""
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
"""
#Answer:
numbers = [i for i in range(1,26)]
for num in numbers:
  if num % 3 == 0:
    print (f"{num} is divisible by 3")
  else:
      print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
Answer:
Mutable Data Types: Data types which allows to change the value are called mutable data types such as list.
Ex:-> List = [1,2,4,5.6,"Anupam"]
Values can be changed, list[2]=7.
New set will be List = [1,2,7,5.6,"Anupam"]

Immutable Data Types: Data types whose values can't be changed are called immutable data types such as String.
Ex:-> s = "Anupam"
s[2]='a'
It will give an error as String is not mutable